<script setup>
import FooterPart from './components/FooterParts.vue'
import TasksList from './components/TasksList.vue'
</script>

<template>

    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input
          class="new-todo"
          placeholder="What needs to be done?"
          autofocus
        />
      </header>
      <TasksList/>
    </section>
<FooterPart/>
</template>

